#show-images {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: flex-start; */
    flex-wrap: wrap;
}

.card-line {
    display: flex;
}

.card {
    margin: 5px;
}

.card img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

#upload {
    display: flex;
    flex-direction: column;
    margin: 25px;
}

#select-stick {
    display: flex;
}

#get-photo {
    display: flex;
}

#get-pic {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

#preview-pic {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

#video-webcam {
    position: relative;
    /* z-index: 2; */
}

.sticker {
    position: absolute;
    cursor: move;
    top: 0px;
    left: 0px;
    z-index: 1;
}
