#show-images {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: flex-start; */
    flex-wrap: wrap;
}

.card-line {
    display: flex;
}

.card {
    margin: 5px;
}

.card img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.form-buttons {
}

#prev-pic-div {
    display: flex;
    max-width: 980px;
    overflow-x: auto;
}

.prev-pic {
    margin: 3px;
    position: relative;
}

.prev-pic img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.del-img-btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(222, 222, 222);
    position: absolute;
    left: calc(100% - 25px);
    top: 5px;
    cursor: pointer;
    border: none;
    outline: none;
}

.del-img-btn:before, .del-img-btn:after {
    height: 10px;
    width: 1px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    content: '';
    top: 25%;
    left: 50%;
}

.del-img-btn:before {
    transform: rotate(45deg);
}

.del-img-btn:after {
    transform: rotate(-45deg);
}

#upload {
    display: flex;
    flex-direction: column;
    margin: 25px;
}

#select-stick {
    display: flex;
}

#get-photo {
    display: flex;
}

#get-pic {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

#preview-pic {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

#video-webcam {
    position: relative;
    /* z-index: 2; */
}

.sticker {
    position: absolute;
    cursor: move;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#like-bar {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#like {
    background-image: url('http://localhost:8080/public/img/icon/like.svg');
}

#comment-block {
    overflow-y: auto;
    overflow-wrap: break-word;
}

.comment {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.comment-user {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.comment-text {
}

.comment-date {
    color: grey;
    text-align: end;
    font-size: 85%;
}

#comment-bar {
    display: flex;
    align-items: center;
    flex: 1;
}

#comment-icon {
    background-image: url('http://localhost:8080/public/img/icon/comment.svg');
}

#image-block {
    display: flex;
}

#image-block-image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#image-block-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 250px;
}

#image-block-side-footer {
    display: flex;
    align-items: center;
}

#author-image {
    font-weight: bold;
    text-align: end;
    font-size: 120%;
    text-decoration: none;
    color: inherit;
}

.valid-input {
    font-size: 70%;
    color: grey;
}

.input {
    width: 100%;
    height: 25px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 2px 0;
}

.submit {
    background: rgb(222, 222, 222);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 5px;
    outline: none;
    cursor: pointer;
}

#notification {
    cursor: pointer;
}
